<header>
  <h1>Snikk.it</h1>
  <%= image_tag("snikkit.png", :alt => "Snikkit", :class => "logo") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", '/' %></li>
      <li><%= link_to "Help", '/help' %></li>
      <li><%= link_to "About", '/about' %></li>
      <li><%= link_to "Sign up", '/sign-up#' %></li>
      <li><%= link_to "Sign in", '/sign-in#' %></li>
    </ul>
  </nav>
</header>